#notificationPanel ul li {
    color: white;
    margin-top:5px;
    padding:8px;
    padding-left:20px;
    cursor: pointer;
}

a{
    text-decoration: none;
}

#notificationPanel ul li:hover {
    background-color: black;
}

#notificationPanel i {
    color: grey;
}

#notificationPanel i:hover {
    color: white;
    cursor: pointer;
}

#JGLoggedInNotificationLiWrapper{
    display: flex;
    justify-content: space-between;
}

#JGLoggedInNotificationLiWrapper p{
    align-self: center;
}

#JGLoggedInNotificationLiWrapper i{
    font-size: 30px;
}