.JGPreVideoSectionWrapper {
    display: flex;
    /*background-color: #171717;*/
    padding: 10px;
    border-bottom: 1px solid #202020
}

.JGPreVideoSectionThumbailWrapper {
    height: 56px;
    width: 100px;
}

.JGPreVideoSectionThumbnail{
    height: 100%;
    cursor: pointer;
}

.JGPreVideoSectionContentWrapper {
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    margin-left: 10px;
}

.JGPreVideoSectionContent {
    font-size: 13px; 
    color: white; 
}

.JGPreVideoSectionContentSpot {
    font-size: 13px; 
    color: white; 
    font-weight: bold
}