.frame_grenade{
    background-color: black;
    width: 450px;
    font-size:70px;
    opacity: 0.5;
}

.frame_grenade p {
    text-align: right;
    padding-right:10px;
    color: white;
}

.uniq_global_grenade_section{
    width:450px;
    margin-top:10px
}

.inner_background_glob{
    width:1024px;
    margin:auto;
    margin-top:200px;
}
