.JGLoggedInSideBarSettingTitle{
    color: white!important;
    padding:20px;
    border-bottom:1px solid #202020;
}

#UserSettingPanel ul li {
    color: white;
    margin-top:5px;
    padding:8px;
    padding-left:20px;
    cursor: pointer;
}

a{
    text-decoration: none;
}

#UserSettingPanel ul li:hover {
    background-color: black;
}

#UserSettingPanel i {
    color: grey;
}

#UserSettingPanel i:hover {
    color: white;
    cursor: pointer;
}

#JGLoggedInUserSettingLiWrapper{
    display: flex;
    justify-content: space-between;
}

#JGLoggedInUserSettingLiWrapper p{
    align-self: center;
}

#JGLoggedInUserSettingLiWrapper i{
    font-size: 30px;
}