.JGVideoListTitle {
    color:white; 
    background-color: rgb(18, 18, 18); 
    padding: 10px;
    border-bottom: 1px solid #202020;
}

.JGVideoListPreVideoSectionsWrapper {
    height:500px;
    overflow-x: hidden;
}

.JGVideoListRightSectionWrapper {
    width:100%;
    padding: 9px 10px 10px 10px;
    margin-right:2px;
    max-height: 500px;
    position: sticky;
    top:50px;
}

#JGVideoListChooseDotWrapper {
    color:white;
}
