.JGBackground{
    width:100%;
    height:1080px;
   -webkit-box-shadow: inset 0px 0px 106px 155px rgba(0,0,0,1);
    -moz-box-shadow: inset 0px 0px 106px 155px rgba(0,0,0,1);
    box-shadow: inset 0px 0px 106px 155px rgba(0,0,0,1);
    padding-top: 10px;
}

