.JGHomeWhiteBannerTitle_firstsubtitle{
    position: relative;
    width:500px;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    color: black;
    background-color: white;

}

.JGHomeWhiteBannerTitle_secondsubtitle{
    position: relative;
    right: 75px;
    background-color: white;
    font-size: 70px;
    font-weight: bold;
    color: black;
    width: 600px;
    text-align: center;
}

.JGHomeWhiteBannerTitle_title{
    position: relative;
    color:white;
    font-size: 50px;
    display: flex;
    justify-content: flex-end;
}

.JGHomeWhiteBannerTitle_glob{
    position: relative;
    left:75px;
    width:1280px;
    margin: auto;
    display: flex;
    justify-content: flex-end;
}