.nav_main{
    width:100%;
    height:50px;
    background-color:#171717;
    position: fixed;
    z-index: 99;
    top:0;
}

.nav_link_button{
  display:inline-block;
  text-align: center;
  background-color:#fb4545;
  margin:10px;
  vertical-align: middle;
  text-align: center;
  color: white;
  border-radius: 2px;
  font-size: 15px;
  font-weight: 700;
  align-self: center;
  padding:8px;
  cursor: pointer;
}

#nav_main_wrapper {
    height:50px;
    display: flex;
    justify-content: flex-end;
}

#LogInButton{
    background-color:#171717;
    border: 1px solid rgb(64, 64, 64);
}

#SignInButton{
    background-color:#fb4545;
}