

#JGMap{
    height:100%;
    min-height:100%;
    margin-left:300px;
    margin-top:52px;
    background-color: #202020;
}

.JGMapWrapper {
    display: flex;
}

.JGMapDynamicMapWrapper {
    width:150%;
}
