
#JGNavbarUserBlockBackground{
    display: flex;
    background-color: #282828;
    color:white;
    height:40px;
    margin-top:5px;
    border-radius: 2px;
}

#JGNavbarUserBlockUsername{
    line-height: 40px;
    position: relative;
    right: 7.5px;
}

#JGNavbarUserBlockAvatar{
    widows: 40px;
    height: 40px;
    position: relative;
    right:15px;
    border-radius: 50px;
}

#JGNavbarUserOptionPanel{
    color:#404040;
    margin-bottom:10px;
    padding:2px;
    border-radius: 2px;
    background-color: #282828;
    font-size: 20px;
    height:40px;
    width:30px;
}

#JGNavbarUserOptionPanel:hover{
    color:white;
    cursor: pointer;
}