.JGDynamicMapDot{
    border-radius: 50px;
    position: absolute;
    background-color: whitesmoke;
    cursor: pointer;
    -webkit-box-shadow: 0px 0px 7px 2px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 7px 2px rgba(0,0,0,1);
    box-shadow: 0px 0px 7px 2px rgba(0,0,0,1);
    width:8px;
    height: 8px;
}
