#JGDashboardWrapper{
    height:100%;
    margin-left:304px;
    margin-top:52px;
    display: flex; 
    flex-direction: column;
}

.JGPaddingBigPicture {
    padding: 10px 15px 10px 10px;
}

.JGPaddingLeft {
    padding: 0px 15px 10px 10px;
}

.JGPaddingRight {
    padding: 0px 15px 10px 0px;
}