.JGDashboardNewGlobalWrapper {
    flex: 1;
    padding: 10px;
}

.JGDashboardNewWrapper {
    position: relative;
}

.JGDashboardNewImg {
    width: 100%;
}

.JGDashboardNewContentWrapper {
    position: absolute;
    bottom: 0px;
    background-color: #202020;
    width: 100%;
    opacity: 0.8;
    height: 30%;
}

.JGDashboardNewContent {
    overflow: auto;
    max-height: 90%;
    position: absolute;
    top:5px;
    left:5px;
    color:white;
}