.JGGradientLineSeparator{
    background: rgba(0,0,0,1);
    background: -moz-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(240,47,23,1) 49%, rgba(255,30,0,1) 50%, rgba(255,30,0,1) 51%, rgba(0,0,0,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,0,0,1)), color-stop(49%, rgba(240,47,23,1)), color-stop(50%, rgba(255,30,0,1)), color-stop(51%, rgba(255,30,0,1)), color-stop(100%, rgba(0,0,0,1)));
    background: -webkit-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(240,47,23,1) 49%, rgba(255,30,0,1) 50%, rgba(255,30,0,1) 51%, rgba(0,0,0,1) 100%);
    background: -o-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(240,47,23,1) 49%, rgba(255,30,0,1) 50%, rgba(255,30,0,1) 51%, rgba(0,0,0,1) 100%);
    background: -ms-linear-gradient(left, rgba(0,0,0,1) 0%, rgba(240,47,23,1) 49%, rgba(255,30,0,1) 50%, rgba(255,30,0,1) 51%, rgba(0,0,0,1) 100%);
    background: linear-gradient(to right, rgba(0,0,0,1) 0%, rgba(240,47,23,1) 49%, rgba(255,30,0,1) 50%, rgba(255,30,0,1) 51%, rgba(0,0,0,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#000000', GradientType=1 );
    width: 100%;
}