#JGSidebar {
    background-color:#171717;
    position: fixed;
    top: 51px;
    left: 0px;
    height:100%;
    width:300px;
    color:white;
    font-size: 13px;
    z-index: 1000;
}


#JGSidebar ul li ul li {
    padding:10px;
}

#JGSidebar ul li ul li:hover {
    background-color: black
}

#JGSidebar ul li p{
    padding: 10px;
}

.JGSidebarSubA{
    padding-left:25px;
}

#JGSidebar a{
    text-decoration: none;
    color:white
}

#JGSidebar .fa-angle-right{
    margin-right:5px;
}

