.JGNewGlobalWrapper {
    height:100%;
    margin-left:304px;
    margin-top:20px;
    display: flex; 
    padding:20px;
    max-width: 800px;
    flex-direction: column;
}

.JGNewTitle {
    color:white;
    font-size: 35px; 
    margin-top: 20px;
}

.JGNewDescription {
    color:white;
    font-size: 25px;
    margin-top: 20px;
}

.JGNewTextBeforeImage {
    color:white;
    margin-top: 20px
}

.JGNewImage {
    margin-top: 10px;
}

.JGNewImage img {
    width:100%
}

.JGNewTextAfterImage {
    color:white;
    margin-top: 10px;
}