.background_popup{
    width:100%;
    height:1080px;
    background-color: black;
    position: absolute;
    top:0;
    left:0;
    opacity: 0.5;
}

.home_popup_background{
    background-color: black;
    opacity: 0.7;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index:1001;
    cursor: pointer;
}

.formik{
    z-index:1002;
    position: fixed;;
    left: 50%;
    /*margin-left:-250px;*/
    top: 50%;
    /*margin-top:-250px;*/
    /*width:500px;*/
    background-color:#1f1f1f;
    color:white;
    font-weight: 700;
    font-size:12px;
}

.formik h2{
    text-align: center;
    margin-top:30px;
}

.popup_input_container {
    /*padding:50px;*/
}

.popup_input_text{
    width:100%;
    padding:10px;
    margin-top:5px;
}

.popup_input_text[type=submit]{
    width:105%;
    padding:10px;
    margin-top:15px;
}

.popup_input_label_container{
    margin-top:10px;
    display: flex;
    flex-flow: wrap;
}
