.JGNotificationWrapper{
    display: flex;
    flex-direction: column;
}

.JGNotificationDateWrapper {
    background-color: rgb(18, 18, 18);
    color: white;
    padding: 8px;
    font-size: 12px;
    font-weight: bold;
    border-bottom: 1px solid #202020;
}

.JGNotificationContentWrapper{
    display: flex;
    padding: 10px;
}

.JGnotificationImgWrapper{
    max-width: 40px;
    min-width: 40px;
}

.JGNotificationImg{
    position:relative;
    top:8px;
    width:100%; 
    border-radius: 50px;
}

.JGNotificationTextWrapper{
    display: flex;
    flex-direction: column;
}

.JGNotificationDescWrapper {
    padding:5px;
    font-size:13px;
    color:white;
}

.JGNotificationHourWrapper {
    padding:5px;
    font-size:13px;
    color:white;
}