.popup_home_page_button{
    display:inline-block;
    background-color:#fb4545;
    text-align: center;
    color: white;
    border-radius: 2px;
    font-size: 15px;
    font-weight: 700;
    padding:8px;
    margin-top:20px;
  }

  .JGButtonFullWidthContainer{
    display: flex;
    flex-flow: wrap;
  }

  .JGButtonFullWidthContainer input {
    width: 100%;
  }

